/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #191919;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


// Minhas Alterações de CSS

.reveal small * {
    vertical-align: baseline;
}

.title

.special-header {
    position: absolute;
    padding: 10px 20px 10px 20px;
    top:30px;
    left: 0px;
    z-index:500;
    /*background-color: rgba(0,0,0,0.5)*/
}

.special-body {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 0%;
    /*-ms-transform: translate(-50%, 50%);*/
    transform: translate(0%, -50%);
}

.slides .section>.top-align {
    width: 100%;
    height: 100%;
}
